<h1>Books</h1>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>ISBN(10/13)</th>
            <th>Quantity</th>
            <th>Issued </th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ready player one(2012)</td>
            <td>9780099560432</td>
            <td>21</td>
            <td>3</td>
            <td>   </td>
        </tr>
        <tr>
            <td>silence:picador classic(2015)</td>
            <td>97814472951</td>
            <td>8</td>
            <td>0</td>
            <td>   </td>
        </tr>
        <tr>
            <td>six of crows:book1(2016)</td>
            <td>978178062282</td>
            <td>23</td>
            <td>7</td>
            <td>   </td>
        </tr>


    </tbody>
</table>
