<img src="assets/glint.png" >
<h3>Welcome to Glint</h3>
<div class="col-4">
<a href="#">Not You?</a>
</div>
<br/><br/>
<div class="col-10 mb-2">
<button class="btn btn-primary">Log in with SSO</button>
<br/></div>
<div class="col-4">
<label class="formlabel">Password</label>
<a href="#" >Forgot Password</a>
<input type="text" name="password" class="form-control" formControlName="password"/><br/><br/>
<button class="btn btn-primary">Continue</button>
<p>New to Glint?</p><a href="#">Activate your account</a>
</div>
