<h4>Open Library</h4>
<h5>Admin Admin</h5>

<ul>
    <li>home</li>
</ul>
<ul>
    <li><i class="fas fa-home"></i>Home</li>
    <li><i class="fas fa-book"></i>Books</li>
<li><i class="far fa-user"></i>Circulation</li>
<li><i class="far fa-user"></i>  Notify Delayed Members</li>
<li><i class="far fa-cog"></i>Admin Panel</li>
</ul>
<ul>
<li><i class="far fa-cogs"></i>Settings</li>
<ul>
    <li><input type="radio" name="data">Settings</li>
    <li><input type="radio"name="data">Database  Versions</li>
    <li><input type="radio"name="data">SMS Config</li>

</ul>
</ul>
    





