<h1>Last Issued Books</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Book</th>
            <th>Publisher</th>
            <th>Publishing Year</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>slaughterhouse5</td>
            <td>vintage Publishing</td>
            <td>1991</td>
            <td>978009980200</td>
        </tr>
        <tr>
            <td>snap judgement</td>
            <td>Amazon Publishing</td>
            <td>2017</td>
            <td>9801541200</td>
 </tr>
 <tr>
    <td>Taduno's song</td>
    <td>canongate books ltd</td>
    <td>2017</td>
    <td>978178128138</td>
</tr>
</tbody>
</table>


<h1>Last Requested Books</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Book</th>
            <th>Publisher</th>
            <th>Publishing Year</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>one night in winter</td>
            <td>cornerstore</td>
            <td>2014</td>
            <td>9780099580551</td>
        </tr>
        <tr>
            <td>the handmaid's tale</td>
            <td>vintage Publishing</td>
            <td>2011</td>
            <td>97800998512</td>

        </tr>
        <tr>
            <td>jolly christmas postman</td>
            <td>penguin books ltd</td>
            <td>2013</td>
            <td>9708516563</td>
        </tr>
    </tbody>
    </table>